# SQL Murder Mystery

##### A crime has taken place and the detective needs your help. 
##### The detective gave you the crime scene report, but you somehow lost it. 
##### You vaguely remember that the crime was a murder that occurred sometime on Jan.15, 2018 and that it took place in SQL City. 
##### Start by retrieving the corresponding crime scene report from the police departmentâ€™s database. 
##### If you want to get the most out of this mystery, try to work through it only using your SQL environment and refrain from using a notepad.

### 01 - We only have 3 informations

* Murder
* Jan.15, 2018
* SQL City

##### With those informations, it's possible to find de crime scene description

In [ ]:
-- Here I've selected * to check if all informations where right, but it's also possible to select 'description'

SELECT *
FROM crime_scene_report
WHERE
date = 20180115 and
type = 'murder' and
city = 'SQL City';

##### Description:

Security footage shows that there were 2 witnesses. 
The first witness lives at the last house on "Northwestern Dr". 
The second witness, named Annabel, lives somewhere on "Franklin Ave".

### 02 - Check the first witness interview

In [ ]:
-- In this case it's possible to do 2 queries, 1 to retrieve the person_id and other to find the interview transcript
-- But to optimize, I've preferred to use a subquerie

SELECT *
FROM interview
WHERE person_id = (
  SELECT id
  FROM person
  WHERE address_street_name = 'Northwestern Dr'
  ORDER BY address_number DESC
  LIMIT 1
);

##### Transcript:

I heard a gunshot and then saw a man run out. 
He had a "Get Fit Now Gym" bag. 
The membership number on the bag started with "48Z". 
Only gold members have those bags. 
The man got into a car with a plate that included "H42W".

### 03 - Check the second witness interview

In [ ]:
SELECT *
FROM interview
WHERE person_id = (
SELECT id
FROM person
WHERE address_street_name = 'Franklin Ave' AND
name LIKE 'Annabel%'
);

##### Transcript:

I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.

### 04 - Now we have a lot of informations

* It was a murder by gunshot
* A man was the killer
* He's a gold membership at Get Fit Now Gym
* His gym bag starts with 48Z
* His car plate includes H42W
* He was working out at January the 9th

##### Now with those informations and the relation between tables, it's possible to track the murder

In [ ]:
-- For this case, we have more informations that we need
-- Using JOIN we just remain with 1 line, since the others are hidden

SELECT get_fit_now_check_in.membership_id, get_fit_now_member.person_id, person.name, person.license_id, drivers_license.plate_number
FROM get_fit_now_check_in
JOIN get_fit_now_member
ON get_fit_now_check_in.membership_id = get_fit_now_member.id
JOIN person
ON get_fit_now_member.person_id = person.id
JOIN drivers_license
ON person.license_id = drivers_license.id
WHERE get_fit_now_member.membership_status = 'gold' AND
      get_fit_now_check_in.check_in_date = 20180109 AND
      drivers_license.plate_number LIKE '%H42W%';

##### The murder is Jeremy Bowers!

### 05 - Ok, problem solved, let's check the answer

In [ ]:
INSERT INTO solution VALUES (1, "Jeremy Bowers");

SELECT value FROM solution;

Congrats, you found the murderer! 
But wait, there's more... 
If you think you're up for a challenge, try querying the interview transcript of the murderer to find the real villain behind this crime. 
If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries. 
Use this same INSERT statement with your new suspect to check your answer.

### 06 - It seems like the murder was hired by someone!

##### Let's check Jeremy's interview to solve the case

In [ ]:
SELECT *
FROM interview
WHERE person_id = (
  SELECT id
  FROM person
  WHERE name = 'Jeremy Bowers'
);

I was hired by a woman with a lot of money. 
I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). 
She has red hair and she drives a Tesla Model S. 
I know that she attended the SQL Symphony Concert 3 times in December 2017.

### 07 - Ok, let's we the informations above to track the client

* This time it's a woman
* This woman have a lot of money
* She's around 65" and 67" height
* Her hair is red
* Her car is a Tesla Model S
* She attended the SQL Symphony Concert 3 time in December 2017

In [ ]:
SELECT drivers_license.id, person.name, income.annual_income, facebook_event_checkin.event_name
FROM drivers_license
JOIN person
ON drivers_license.id = person.license_id
JOIN income
ON person.ssn = income.ssn
JOIN facebook_event_checkin
ON person.id = facebook_event_checkin.person_id
WHERE gender = 'female' AND
      car_model = 'Model S' AND
      height BETWEEN 65 AND 67 AND
      event_name LIKE '%SQL Symphony Concert%';

##### The result points to Miranda Priestly!

### 08 - Is the murder solved?

In [ ]:
INSERT INTO solution VALUES (1, "Miranda Priestly");

SELECT value FROM solution;

Congrats, you found the brains behind the murder! 
Everyone in SQL City hails you as the greatest SQL detective of all time. 
Time to break out the champagne!